{% extends 'base.html' %}

{% block title  %}Home{% endblock title %}

{% block body  %}
<div class="container-fluid px-0 mx-0h">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Pizza" width = "900" height="600">
            <div class="carousel-caption d-none d-md-block">
              <h5>P I Z Z A</h5>
              <p>"In Pizza, we Crust"</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/top-view-delicious-noodles-concept_23-2148773774.jpg?t=st=1734359159~exp=1734362759~hmac=24dc2ed913eb59dddd7b84d84636e320225db92bd87b34314bff6dc2b39cf5a3&w=996" class="d-block w-100" alt="Hakka Noodles" width = "900" height="600">
            <div class="carousel-caption d-none d-md-block">
              <h5>C H I N E S E</h5>
              <p>"Let's travel to China"</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-photo/big-cheeseburger-french-fries_140725-2256.jpg?t=st=1734359306~exp=1734362906~hmac=fb9440650c96c9431b41735e3cde47d6bcd653ff696a9bf62de0ca6fbbfe93e7&w=1060" class="d-block w-100" alt="Burger" width = "900" height="600">

            <div class="carousel-caption d-none d-md-block">
              <h5>B U R G E R</h5>
              <p>"Juicy, fresh and unforgettable"</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container my-4">
<h1 class="my2 text-center">Explore our Deliciousness</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://giordanos.com/content/uploads/Pizza_New-Homepage-image.jpg" class="d-block w-100" alt="Pizza" width = "100" height="225">


        <div class="card-body">
          <p class="card-text">Pizza Chicago</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">300rs</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://goodyfeed.com/wp-content/uploads/2024/01/Cheese-Volcano-Beef-Pepperoni-Lifestyle.jpg" class="d-block w-100" alt="Pizza" width = "100" height="225">
        <div class="card-body">
          <p class="card-text">Volcano Pizza</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">200rs</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://www.goredforwomen.org/-/media/aha/recipe/recipe-images/classic-margherita-pizza-with-whole-wheat-pizza-crust.jpg?h=684&la=en&mw=890&w=890&hash=CFAC93130C89F7838A5DEABD0B640BA48F25C67A" class="d-block w-100" alt="Pizza" width = "100" height="225">


        <div class="card-body">
          <p class="card-text">Margherita Pizza</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">250rs</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://brookrest.com/wp-content/uploads/2020/05/AdobeStock_282247995-scaled.jpeg" class="d-block w-100" alt="Pizza" width = "100" height="225">


        <div class="card-body">
          <p class="card-text">Classic Cheese Burger</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">239rs</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://www.ajinomoto.com.my/sites/default/files/content/recipe/image/2022-10/Hawaiian--Burger-new.jpg" class="d-block w-100" alt="Pizza" width = "100" height="225">


        <div class="card-body">
          <p class="card-text">Hawaiian Burger</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">369rs</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://attractionsmagazine.com/wp-content/uploads/2016/11/MacNCheese-PHO-Pick.jpg" class="d-block w-100" alt="Pizza" width = "100" height="225">

        <div class="card-body">
          <p class="card-text">MAC and CHHESE Burger</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">489rs</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://img.freepik.com/premium-photo/manchurian-hakka-schezwan-noodles-popular-indochinese-food-served-bowl-selective-focus_466689-34621.jpg?w=2000" class="d-block w-100" alt="Pizza" width = "100" height="225">

        <div class="card-body">
          <p class="card-text">Veg Hakka Noodles</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">359rs</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://www.thespruceeats.com/thmb/DXZoAJoKTPS7BKEyk4H-Gw3puhc=/6016x4016/filters:fill(auto,1)/steamed-momos-wontons-1957616-hero-01-1c59e22bad0347daa8f0dfe12894bc3c.jpg" class="d-block w-100" alt="Pizza" width = "100" height="225">

        <div class="card-body">
          <p class="card-text">Momos</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">229rs</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://product-assets.faasos.io/production/product/image_1661760020223_Veg_Triple_Schezwan_Rice.jpg" class="d-block w-100" alt="Pizza" width = "100" height="225">

        <div class="card-body">
          <p class="card-text">Triple schezwan rice</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
            </div>
            <small class="text-body-secondary">289rs</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
